<!--
    This HTML page displays the devices' status and controls.
    It renders a table with device information and camera controls.
    The camera controls allow starting or stopping the camera based on the selected device.

    The page also includes a chessboard-like grid with labeled rows and columns,
    indicating the devices' positions on the grid.

    Author: G.Kachrimanis
-->

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Devices Status</title>

</head>
<body>
<div class="container">
    <h1>Devices Controls</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Battery Percent</th>
            <th>Available Storage</th>
            <th colspan="2">Camera Controls</th>
            <th>Position</th>
            <th>Is AP</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices_data %}
        <tr class="{% if device.is_ap %}ap{% else %}not-ap{% endif %}">
            <td>{{ device.name }}</td>
            <td>{{ device.time }}</td>
            <td>{{ device.battery_percent }}</td>
            <td>{{ device.available_storage }}</td>
            <td colspan="2">
                <button class="startButton" onclick="openPage('http://' + '{{ device.name }}' + '@' + '{{ device.name }}.local:5000/start_camera')">Start</button>
                <button class="stopButton" onclick="openPage('http://' + '{{ device.name }}' + '@' + '{{ device.name }}.local:5000/stop_camera')">Stop</button>
            </td>
            <td>{{ device.position.latitude }}, {{ device.position.longitude }}</td>
            <td>{% if device.is_ap %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="board-container">
    <div id="background"></div>
    <div id="board"></div>
    <div id="letters"></div>
    <div id="numbers"></div>
</div>

</body>
<script>
    /*
        This script handles the functionality of opening a new page with the camera control URL.
        It listens for a click event on the camera control buttons and opens the corresponding URL in a new tab.
    */
    function openPage(url) {
        window.open(url, '_blank');
    }

    /*
        This script executes when the DOM content is fully loaded.
        It creates the chessboard grid and sets the colors and labels based on the devices' data.
    */

    document.addEventListener('DOMContentLoaded', () => {
        const devicesDataJS = {{ devices_data | tojson | safe }};
        console.log(devicesDataJS);

        const chessboard = document.getElementById("board");
        const letters = document.getElementById("letters");
        const numbers = document.getElementById("numbers");

        function createLabels() {
            for (let i = -5; i <= 5; i++) {
                letters.innerHTML += `<span>${i}</span>`;
            }
            for (let i = 5; i >= -5; i--) {
                numbers.innerHTML += `<span>${i}</span>`;
            }
        }

        function createChessboard() {
            for (let row = 1; row <= 11; row++) {
                for (let col = 1; col <= 11; col++) {
                    const square = document.createElement("button");
                    square.classList.add("square");
                    square.id = `square-${row}-${col}`;
                    chessboard.appendChild(square);
                }
            }
        }

        function setColor(row, col, color, text) {
            const square = document.getElementById(`square-${row}-${col}`);
            if (square) {
                const circle = document.createElement('div');
                circle.classList.add('circle');
                circle.style.backgroundColor = color;
                circle.innerText = text;
                square.appendChild(circle);
            }
        }

        createLabels();
        createChessboard();

        devicesDataJS.forEach(device => {
            const row = (-1) * device.position.longitude + 6; // So we can have the correct coordinates
            const col = device.position.latitude + 6;
            const color = device.is_ap ? "red" : "green";
            const text = device.name;
            setColor(row, col, color, text);
        });
    });


</script>


</html>