<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
</head>
<body>
    <h1>Data:</h1>
    <ul>
        <li>Name: {{ data.name }}</li>
        <li>Battery Percent: {{ data.battery_percent }}</li>
        <li>Available Storage: {{ data.available_storage }}</li>
        <li>Total Memory: {{ data.total_memory }}</li>
        <li>Available Memory: {{ data.available_memory }}</li>
        <li>Latitude: {{ data.position.latitude }}</li>
        <li>Longitude: {{ data.position.longitude }}</li>
        <li>Is AP: {{ data.is_ap }}</li>
    </ul>
</body>
</html>
